<template>
  <div style="text-align: center;">
    <a href="https://confoo.ca/en/yul2019/call-for-papers/speaker/philippe-charriere-1" lang="en"><img alt="ConFoo | March 13-15, 2019 | Montreal, Canada" style="border:0" width="180" height="130" src="https://confoo.ca/images/propaganda/yul2019/en/vote.png" /></a>
  </div>
</template>

<script>
export default {

}
</script>