<template>
  <div style="text-align: center;">
		<a href="https://k33g.gitlab.io/feed.json"><b>Json Feed</b>: https://k33g.gitlab.io/feed.json</a>
  </div>
</template>

<script>
export default {

}
</script>